html {
    background-color: rgb(208, 236, 245);
    font-family: 'Rubik', sans-serif;
}

/* body {
	background: linear-gradient(-45deg, #ffffff, #aeb0b1, #baf8f1, #cfffce);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}  /* Add this animated background in last */ 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navigation-bar {
    display:flex;
    /* border: 1px solid black; */
    justify-content: flex-end;
}

.navigation-bar li {
    margin: 30px;
    list-style-type: none;
    padding: 10px 50px ;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background-color: rgba(0, 216, 194, 0.577);
    
}
.navigation-bar li a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}     

#about-me {
    display: flex;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects h2, #projects p,#skills h2, #skills p , #find-me h2{
    text-align: center;
}

#projects p, #skills p {
    margin-left: 200px;
    margin-right: 200px;
}

#portfolio-image {
    margin-left: 25px;
}

#about-me-section {
    margin-left: 100px;
    margin-right: 25px;
}

#inline-skills {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    /* border: 1px solid black ; */
    justify-content: space-evenly;
    text-align: center;
}


#inline-skills li {
    margin: 20px;

    text-align: center;
}

#novice {
    font-size: small;
}

#find-me-icons {
    display: flex;
}

#find-me-icons a {
    margin: 25px;
}

#credits {
    display: flex;
    /* border-top: 1px solid black; */
}

#credits p {
    margin: 25px;
    
}